<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div id="contact-form">
    <h1 id='blueHeader'>Get In Touch!</h1>
    <form method="post" action="/signup">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" placeholder="Agatha Frottemly" required="required" autofocus="autofocus" />
        <label for="email">Email address: </label>
        <input type="email" id="email" name="email" value="" placeholder="aggs@example.com" required="required" />
        <input type="submit" value="submit" id="submit-button"> </form>
</div>

<h1>hello!</h1>

<h1>hey</h1>